/*clear out the margin and border style for the page*/
* {
    margin: 0;
    padding: 0;
}

 .main-game{
    width: 100%;
    height: auto;
    background-color: black;
}

.gameimg {
    width: 13%;
    height: 300px;



}
